body{
    background-color: aqua;
}
/* NAVIGATION */
nav{
position:absolute;
top:25px;
right:50px;
}
.nav-link{
text-decoration:none;
font-size:18px;
color:white;
margin-left:25px;
position:relative;
}
.contact{
    padding:60px 20px;
    text-align:center;
    background:black;
}

.contact h2{
    font-size:32px;
    color:darkorange;
    margin-bottom:40px;
}

/* Contact Cards */

.contact-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-bottom:40px;
}

.contact-card{
    background:white;
    padding:25px;
    width:220px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.contact-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.contact-card h3{
    color:#7a4c00;
}

/* Contact Form */

.contact-form{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
}

.contact-form input,
.contact-form textarea{
    width:300px;
    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
    outline:none;
}

.contact-form textarea{
    height:100px;
}

.contact-form button{
    background:#7a4c00;
    color:white;
    padding:12px 25px;
    border:none;
    border-radius:25px;
    cursor:pointer;
    transition:0.3s;
}

.contact-form button:hover{
    background:#a66a00;
}
.social-links{
    margin-top:30px;
}

.social-links a{
    margin:10px;
    display:inline-block;
}

.social-links img{
    width:40px;
    height:40px;
    transition:0.3s;
}

.social-links img:hover{
    transform:scale(1.2);
}